<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.hidden_field :car_id%>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id%>
  </div>

  <div class="field">
    <%= f.hidden_field :book_time %>
  </div>

  <div class="field">
    <%= f.hidden_field :pickup_time %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :pickup_location_id %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :status %>
  </div>
  <div class="container mt-4">
    <%= f.submit "Confirm", class:"btn btn-primary btn-block btn-md"%>
  </div>
<% end %>
